/* Estilo global para todos los elementos HTML */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* Establece el estilo de fuente predeterminado para todos los elementos HTML */
    /* El box-sizing: border-box asegura que el padding y el borde no afecten el ancho y alto del elemento */
    /* El margen se establece en 0 para eliminar márgenes predeterminados en todos los elementos */
}

/* Estilo para el cuerpo de todas las páginas */
body {
    background-color: #d7ccbc;

}


/* Estilo para el pie de página  */
footer {
    display: flex;
    flex-direction: column;
    color: white;
    overflow: hidden;
}

/* Estilo para la parte inferior del pie de página */
.bottom-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #292A32;
}

/* Estilo para la parte superior del pie de página */
.top-footer {
    background-color: #292A32;
    display: flex;
    justify-content: center;
    padding: 0.625rem;
    gap: 3.125rem;
    border-bottom: 1px solid white;
    margin-top: 5rem
}


/* Estilo para la lista de contacto dentro del pie de página */
.contacto ul li {
    padding: 0.313rem;
    display: flex;
    align-items: center;
    gap: 0.313rem;
}

/* Estilo para los enlaces de redes sociales en el pie de página */
.redes ul li a {
    display: flex;
    align-items: center;
}

/* Estilo para la lista de redes sociales en el pie de página (Eliminamos los marcadores de la lista) */
.redes ul {
    list-style: none;
}

/* Estilo para los 2 encabezados del top-footer */
.top-footer h3 {
    /* font-weight: bolder; */
    text-align: center;
    margin-bottom: 0.625rem;
    border-bottom: 1px dashed white;
}

/* Estilo para todos los enlaces en el pie de página (Les quitamos el subrayado y le cambiamos el color)*/
footer a {
    text-decoration: none;
    color: white;
}

/* Estilo para los enlaces en el pie de página cuando pasamos el cursor sobre ellos (se subrayan) */
footer a:hover {
    text-decoration: underline;
}

.copy-footer {
    display: flex;
    align-items: center;
}
/* Estilos para cuando la pantalla es más pequeña */
@media screen and (max-width:550px) {
    .top-footer {
        flex-direction: column;
        align-items: center;
    }

    .contacto ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    .bottom-footer {
        flex-direction: column;
        align-items: center;
    }

    .redes ul li a p {
        display: none;
    }

    .redes ul {
        display: flex;
        flex-direction: row;
        gap: 4rem;
        padding: 0px;
    }
}

/* Estilo para el menú de navegación de todas las páginas */
nav {
    background: #241b50;
    height: 4.375rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1.25rem;
    color: white;
    width: 100%;
}

/* Estilo para los botones del menú de navegación */
.botones-nav {
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

/* Estilo para el logo de la liga en el menú de navegación */

.logo-liga {
    display: flex;
    padding: 0.625rem;
}

/* Estilo para los enlaces de inicio de sesión en el menú de navegación */

.login-nav a {
    text-decoration: none;
    padding: 1rem;
    border-radius: 0.625rem;
    border: solid 1px white;
}

/* Estilo para el botón de registro */

.boton-register {
    background-color: #f8e6db;
    color: black;
    width: 100%;
}

/* Estilo al pasar el ratón sobre el botón de registro*/
.boton-register:hover {
    background-color: #241b50;
    color: white;
    transition: 0.1s;
}

/* Estilo para el botón de login */
.boton-login {
    color: white;
    width: 100%;
}

/* Estilo al pasar el ratón sobre el botón de login*/
.boton-login:hover {
    background-color: #f8e6db;
    color: black;
    transition: 0.1s;
}

/* Estilo de los botones del menú de navegación */
.botones-nav a {
    text-decoration: none;
    padding: 0.8rem;
    border-radius: 0.625rem;
    color: white;
    margin: 0 1rem;
}

/* Estilo al pasar el ratón sobre los botones del menú de navegación */
.botones-nav a:hover {
    background-color: #f8e6db;
    color: black;
    transition: 0.2s;
}
/* Estilos para cuando la pantalla es más pequeña */
@media screen and (max-width:900px) {
    .logo-liga img {
        width: 4rem;
    }

    .login-nav a{
        padding: 10px;
    }

    .botones-nav a {
        margin: 0rem;
    }
}

@media screen and (max-width:720px) {
    nav{
        height: 6rem;
    }
    .login-nav{
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    .login-nav a{
        padding: 5px;
        margin-bottom: 2px;
    }
}

@media screen and (max-width:610px) {
    nav{
        display: grid;
        grid-template-areas: 
        "logo logo login"
        "menu menu menu";
        height: 10rem;
        
    }
    nav .botones-nav a{
        font-size: 0.8rem;
    }
    nav .logo-liga img{
        width: 6rem;
    }
    .logo-liga{
        grid-area: logo;
    }
    .login-nav{
        grid-area: login;
 
    }
    .botones-nav{
        grid-area: menu;

    }

}

/* INCIO.HTML */

/* Estilo para el contenido principal (main) de la página de inicio */
#contenido-inicio {
    margin: 1.25rem auto;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.contenido-principal-inicio {
    display: flex;
    justify-content: space-between;
}

/* Estilo para la noticia principal de la página de inicio */
.noticia-inicio {
    margin: 3.125rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
    background-color: #efe5df;
    box-shadow: 0.125rem 0.375rem 0.625rem gray;
    border-radius: 1.25rem;
    padding: 3.125rem;

}

/* Estilo para las imágenes dentro de la noticia principal */
.noticia-inicio img {
    margin: 1rem 0;
    border-radius: 1.25rem;
}



/* Estilo para el apartado de próximos partidos junto a la noticia */
.proximos-partidos {
    display: flex;
    flex-direction: column;
    background-color: #efe5df;
    box-shadow: 0.125rem 0.375rem 0.625rem gray;
    border-radius: 1.25rem;
    width: 25%;
    padding: 0.625rem;
    text-align: center;
}

/* Estilo para los contenedores de partidos dentro del contenedor "proximos partidos" */
.contenido-proximos-partidos {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.container-partido {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0;
    box-shadow: 0 0 0.375rem gray;
    padding: 0.313rem;
    background-color: #ece5e1;
    border-radius: 1.25rem;
}

.container-partido h2 {
    margin: 0rem 0.313rem;
}

/* Estilo para los elementos de cada partido dentro de "container-partido" */
.partido {
    display: flex;
    align-items: center;
    margin-top: 0.625rem;

}

.partido img {
    border-radius: 50%;
}

/* Estilo para el apartado del audio */
.himno-liga {
    margin-top: 0.625rem;
}

/* Estilo para el apartado de "más noticias" que lleva a NOTICIAS.html */
.link-noticias {
    width: 30%;
    text-align: center;
    box-shadow: 0 5px 0.625rem gray;
    border-radius: 1.25rem;
    padding: 0.625rem;
    background: #efe5df;
    margin-bottom: 1.25rem;
}
/* Estilos para cuando la pantalla es más pequeña */
@media screen and (max-width:750px) {
    .contenido-principal-inicio {
        display: grid;
        grid-template-areas:
            "partidos"
            "noticia";
        grid-template-columns: 100%;
    }
    

    .noticia-inicio {
        grid-area: noticia;
        width: 100%;
        padding: 10px;
    }

    .proximos-partidos {
        grid-area: partidos;
        display: flex;
        width: 100%;
    }

    .contenido-proximos-partidos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .prim-part {
        grid-column: 1/3;
    }

    .container-partido h4,
    h2 {
        font-size: 0.8rem;
    }

    .container-partido {
        margin: 0px;
    }

    .link-noticias{
        width: 100%;
    }
}

/* EQUIPOS.HTML */

/* Estilo para el contenido principal (main) de la página de equipos */
#contenido-equipos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    /* Diseño responsive para que modifique las columnas automaticamente */
    width: 80%;
    margin: 30px auto;
    gap: 20px;
    padding: 10px;
    justify-content: center;
}

.titulo-equipos {
    width: 65%;
    margin: auto;
}

/* Estilo en común de los contenedores de los 6 equipos */
.equipos {
    text-decoration: none;
    color: black;
    text-align: center;
    box-shadow: 0 0 6px gray;
    border-radius: 20px;
    padding: 10px;
    color: white;
    height: 16em;

}

.equipos>h1 {
    margin: 20px 0;
    font-size: 20px;
}

.equipos>img {
    border-radius: 20px;
    width: 10rem;
}

/* Estilo al pasar el ratón sobre los contenedores de los equipos */
.equipos:hover {
    transform: translateY(-2%);
    transition: 0.5s;
}


/* Estilos personalizados el contenedor de cada equipo (colores de fondo) */

#coe {
    background-color: #293656;
}

#guarroman {
    background-color: #ca8a67;
}

#melilla {
    background-color: #3c4b62;
}

#deez-nuts {
    background-color: #31414e;
}

#vih {
    background-color: #b8b8ba;
}

#costa-madrid {
    background-color: #2e5272;
}



/* INFO DE CADA EQUIPO */

/* Display de los contenedores de contenido*/
#contenido_info_equipo {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

/* Estilo para el título de la página (nombre equipo) */
.titulo-equipo {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    padding: 10px;
}

.titulo-equipo img {
    border-radius: 50%;
    margin-right: 20px;
}

.titulo-equipo h2 {
    font-weight: bolder;
    font-size: 2.5em;
}

/* Estilo de las secciones de jugadores */
.jugadores-equipo {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

/* Estilo para los títulos de las secciones de jugadores */
.jugadores-equipo h2 {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

/* Estilo para la sección de posiciones de jugadores */
.posicion {
    display: flex;
    width: 48%;
    gap: 10px;
    flex-wrap: wrap;
    background: #efe5df;
    justify-content: center;
    padding: 5px;
}

.posicion h3 {
    width: 100%;
}

/* Estilo para el apartado de jugadores del equipo */
.jugador-equipo {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    width: 45%;
}

.jugador-equipo img {
    border-radius: 50%;
    border: 1px solid black;
    margin: 5px;
}

/* Estilo para el apartado de entrenador */
.entrenador-equipo {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 20px;
}

.entrenador {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efe5df;
    padding: 5px;
}

.entrenador img {
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 5px;
}

/* Estilos para el apartado de cuerpo tecnico */
.cuerpo-tecnico {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.cuerpo-tecnico h2 {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.rol {
    width: 23%;
    background-color: #efe5df;
    padding: 10px;
}

.cuerpo-equipo {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-top: 5px;
}

.cuerpo-equipo img {
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 5px;
}
/* Estilos para cuando la pantalla es más pequeña */
@media screen and (max-width:750px){
    #contenido_info_equipo {
       width: 95%;
    }
    #contenido_info_equipo h2{
        font-size: 2rem;
    }
    #contenido_info_equipo h4{
        font-size: 1rem;
    }
    .entrenador-equipo{
        width: 60%;
    }
    .jugadores-equipo .posicion {
        width: 100%;
    }
    .rol{
        width: 100%;
    }

}

/* CLASIFICACION.HTML */

/* Estilo para el contenido principal (main) en la página de clasificación */
#contenido-clasificacion {
    background-color: #efe5df;
    width: 80%;
    margin: 20px auto;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#contenido-clasificacion h1 {
    margin-bottom: 20px;
    width: 90%;
}

/* Estilo para la tabla de clasificación */
.tabla-clasificacion {
    background-color: #fff;
    width: 90%;
    height: 80%;
    border-collapse: collapse;
}

.tabla-clasificacion img {
    border-radius: 50%;
    margin: 0 10px;
}

/* Estilo para las celdas de la tabla de clasificación */
.tabla-clasificacion th,
td {
    box-shadow: 0 0 1px black;
    text-align: center;
}

/* Estilo para las celdas de equipo en la tabla de clasificación */
.equipo-tabla {
    display: flex;
    align-items: center;
    height: 6em;
}

.posicion-tabla {
    text-align: center;
}
/* Estilos para cuando la pantalla es más pequeña */
@media screen and (max-width:650px){
    #contenido-clasificacion{
        background-color: #d7ccbc;
        width: 98%;
    }
}

/* NOTICIAS.HTML */


/* Estilo para el contenido principal (main) en la página de noticias */
#contenido-noticias {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    align-items: center;
    width: 80%;
}

/* Estilo para la noticia principal */
.noticia-principal {
    width: 90%;
    box-shadow: 0 0 6px gray;
    padding: 50px;
    border-radius: 20px;
    margin: 20px auto;
    background-color: #f8e6db;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}



.encabezado-noticia {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    margin-bottom: 20px;
}

.titulo-encabezado {
    display: flex;
    align-items: center;
}

.foto-encabezado {
    background-color: #fff;
    display: flex;
}

.foto-encabezado img {
    width: 100%;
}

.titulo-encabezado h2 {
    font-size: 3.2rem;
    /* margin-right: 50px; */
}

.encabezado {
    display: flex;
    text-align: left;
    width: 80%;
    align-items: center;
}

.texto-noticia-principal p {
    margin-top: 10px;
    font-size: larger;
    text-align: justify;
}
/* Estilos para cuando la pantalla es más pequeña */
@media screen and (max-width:1000px) {
    .titulo-encabezado h2 {
        font-size: 2rem;
    }

    .texto-noticia-principal p {
        font-size: medium;
    }
}

@media screen and (max-width:730px) {
    .titulo-encabezado h2 {
        font-size: 1.5rem;
    }

    .texto-noticia-principal p {
        font-size: small;
    }
}

@media screen and (max-width:580px) {
    

    .titulo-encabezado {
        width: 100%;
    }

    .titulo-encabezado h2 {
        font-size: 1.5rem;
        text-align: center;
    }
    .foto-encabezado{
        width: 100%;
    }
    .noticia-principal{
        width: 100%;
        padding: 15px;
    }
}

/* Estilo para las noticias más pequeñas en la página de noticias */
.noticias-pequeñas {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 50px;
    margin: 20px auto;
}

.noticia {
    text-decoration: none;
    color: black;
    padding: 5px;
    background-color: #efe5df;
    border-radius: 10px;
}

.noticia img, video{
    width: 100%;
    border-radius: 10px;
}

.noticia video {
    width: 100%;
}

/* Estilo al pasar el cursor sobre una noticia pequeña */
.noticia:hover {
    box-shadow: 0 0 6px gray;
    transition: 0.3s;
}

/* REGISTER.HTML */

/* Estilo del contenedor principal (main) del formulario de registro y de login */
.container-formulario {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

/* Estilo del contenedor del formulario */
.formulario {
    box-shadow: 0px 0px 6px gray;
    border-radius: 20px;
    margin: 0 auto;
    padding: 30px;
    width: 30%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    margin-bottom: 20px;
}

/* Estilo para los cmapos del formulario */
.campos-formulario {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.campos-formulario input {
    height: 35px;
    border: none;
    outline: none;
    border-bottom: black 1px solid;
}

/* Estilo para el botón de envio del formulario */
.envio-formulario {
    margin-top: 15px;
    width: 100%;
    border: 1px solid black;
}

.envio-formulario input {
    width: 100%;
    height: 30px;
}

/* Estilo para la casilla de "aceptar condiciones" */
.checkbox-formulario {
    margin-top: 30px;
    font-size: small;
}

/* Estilo para el link de cambio de login a register y viceversa */
.cambio {
    text-align: center;
}
/* Estilos para cuando la pantalla es más pequeña */
@media screen and (max-width:1200px){
    .formulario{
        width: 50%;
    }
}
@media screen and (max-width:720px){
    .formulario{
        width: 70%;
    }
}

/* CONDICIONES-LEGALES.HTML */

#contenido-condiciones {
    width: 90%;
    margin: 20px auto;
}

#contenido-condiciones h1,
h2,
p {
    margin-bottom: 10px;
}

.easter {
    margin-left: 90rem;
}

/* CALENDARIO.HTML */

/* Estilos para el contenedor principal (main) del calendario */
#contenido-calendario {
    width: 80%;
    background-color: #efe5df;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px gray;
    min-height: 100vh;
}

/* Estilo para el encabezado del calendario (mes y año) */
.mes-calendario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    gap: 20px;

}

/* Estilo para los dias de la semana del calendario */
.dias-semana {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 2px solid black;
    text-align: center;
}


/* Estilo para los dias del mes */
.calendario {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-auto-rows: 90px;
}

.dia-calendario {
    border: 1px solid black;
}
.dia-calendario p{
    border: 1px solid black;
    display: none;
}

/* Estilo para los dias de partido */
.partido-dia {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partido-dia p {
    display: none;
}

.partido-dia img {
    border-radius: 50%;
}

/* Estilo para las flechas de cambio de mes */
.flecha-mes {
    width: 40px;
    background: #efe5df;
}
/* Estilos para cuando la pantalla es más pequeña */
@media screen and (max-width:670px) {
    .mes-calendario h2{
        font-size: 1.8rem;
    }
    .dias-semana{
        display: none;
    }
    .calendario{
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: 200px;
    }
    .partido-dia img{
        width: 100px;
    }
    #contenido-calendario{
        width: 100%;
    }
    .partido-dia p, .dia-calendario p{
        display: revert;
    }
}
